vps.puruvj.dev {
	root * /path/to/your/site

    # Set a custom header with an emoji value for all responses
    header * X-Custom-Emoji "🚀"

    # Serve files from the /prerendered folder if they exist
    @prerendered {
        path /prerendered*
        file {
            try_files {path} {path}/ /index.html
        }
    }
    handle @prerendered {
        rewrite {http.matchers.file.relative}
        file_server
    }

    # If not found, serve files from the /client folder
    @client {
        path /client*
        file {
            try_files {path} {path}/ /index.html
        }
    }
    handle @client {
        rewrite {http.matchers.file.relative}
        file_server
    }

    # Proxy any other requests to the node server running on port 1211
    reverse_proxy /* localhost:1211 {
        header_up Origin https://vps.puruvj.dev
    }
}
